.head{
    text-align: start;

    margin-top: 0px;

}
.h1{
    text-align: center;
}
.body{
    background-color: crimson;
}
.q1{
text-align:left;
margin-bottom: 0px;

}
.b1{
    float:right;
}
.b2{
    background-color: aqua;
}
